{
  "*.{js,jsx}": [
    "eslint --fix",
    "eslint --rule 'tailwindcss/no-custom-classname: error' --rule 'tailwindcss/classnames-order: error'"
  ],
  "*.css": [
    "prettier --write"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
} 